<div id="<%= dom_id clubcard %>">
  <p>
    <strong>Title:</strong>
    <%= clubcard.title %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= clubcard.name %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= clubcard.age %>
  </p>

  <p>
    <strong>Position:</strong>
    <%= clubcard.position %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= clubcard.image %>
  </p>

</div>
